extends layout

block content   
  script.
    $(document).ready(function(){
        jQuery.extend(jQuery.fn.dataTableExt.oSort, {
            "days-hours-minutes-pre": function (timestamp) {
                console.log(timestamp)
                console.log(timestamp.replace('Days','').replace('Hours','').replace('Minutes','').split(','))
                var daysHoursMinutesArray = timestamp.replace('Days','').replace('Hours','').replace('Minutes','').split(',');
                var days = parseInt(daysHoursMinutesArray[0]);
                var hours = parseInt(daysHoursMinutesArray[1]);
                var minutes = parseInt(daysHoursMinutesArray[2]);
                var timestamp = (days * 24 * 60 * 60 + hours * 60 * 60 + minutes * 60) * 1000; // ms
                return timestamp;
            },
            "days-hours-minutes-asc": function (a, b) {
                return ((a < b) ? -1 : ((a > b) ? 1 : 0));
            },
            "days-hours-minutes-desc": function (a, b) {
                return ((a < b) ? 1 : ((a > b) ? -1 : 0));
            }
        });
        var ctable = $('#connections-table').dataTable({
            autoWidth: true,
            searching: true,
            ordering: true,
            responsive: true,
            lengthChange: true,
            processing: true,
            language: {
                paginate: {
                    next: '<i class="fa fa-fw fa-chevron-right">',
                    previous: '<i class="fa fa-fw fa-chevron-left">'
                }
            },
            dom: "<'row'<'col-sm-12' <'wrap' <'table-custom-header'> lf>>>" +
            "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-5'i><'col-sm-7'p>>",
            order: [],
            columnDefs: [
                {targets: 4, type: 'days-hours-minutes'}
            ],
            ajax: {
                url: '/ext/getmasternodes',
                dataSrc: function (json) {
                    for (var i = 0; i < json.data.length; i++) {
                        json.data[i]['lastseen'] = new Date((json.data[i]['lastseen']) * 1000).toUTCString();
                        json.data[i]['lastpaid'] = new Date((json.data[i]['lastpaid']) * 1000).toUTCString();
                        //json.data[i]['txid'] = "<a href='/tx/" + json.data[i]['txid'] + "'>" + json.data[i]['txid'] + "</a>";
                        //json.data[i]['blockindex'] = "<a href='/block/" + json.data[i]['blockhash'] + "'>" + json.data[i]['blockindex'] + "</a>";
                        //var amount = json.data[i]['total'] / 100000000;
                        //json.data[i]['total'] = amount.toFixed(8);
                        //json.data[i]['recipients'] = json.data[i]['vout'].length;

                        var seconds = parseInt(json.data[i]['activetime'], 10);
                        var days = Math.floor(seconds / (3600 * 24));
                        seconds -= days * 3600 * 24;
                        var hours = Math.floor(seconds / 3600);
                        seconds -= hours * 3600;
                        var minutes = Math.floor(seconds / 60);
                        seconds -= minutes * 60;
                        json.data[i]['activetime'] = days + " Days, " + hours + " Hours, " + minutes + "Minutes";
                        json.data[i]['addr'] = "<a href='/address/" + json.data[i]['addr'] + "'>" + json.data[i]['addr'] + "</a>";
                    }
                    $("div.table-custom-header").html("#{settings.locale.ex_masternodes}");
                    return json.data;
                }
            },
            columns: [
                {data: 'addr', width: '25%'},
                {data: 'status', width: '15%'},
                {data: 'lastseen', width: '15%'},
                {data: 'lastpaid', width: '15%'},
                {data: 'activetime', width: '15%'},
                //{ data: 'ip', width: '15%'}
            ],
        });
    });
  .col-md-12(style="margin-bottom: 4%")
    .row.text-center(style='margin-bottom:15px;')
      i #{settings.locale.net_warning}
    .panel.panel-default.my-panel
      table#connections-table.table.table-bordered.table-striped
        thead
          tr
            th.text-center #{settings.locale.net_address}
            th.text-center #{settings.locale.net_status}
            th.text-center #{settings.locale.net_last_seen}
            th.text-center #{settings.locale.net_last_paid}
            th.text-center #{settings.locale.net_active_time}
            //th.text-center #{settings.locale.net_ip}
        tbody.text-center
